body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: pink;
    overflow: hidden;
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: plum; 
}

.gonvo {
    color: rgb(255, 186, 248);
    text-align: center;
    cursor: progress;
    position: relative;
    z-index: 10;
    font-family: Arial, sans-serif;

}

.gonvo h1 {
    display: inline-block;
    background-color: hotpink;
    border-radius: 50%;
    -webkit-text-stroke: 2px rgb(121, 64, 137);
}

button {
    color: red;
}

a {
    color: red;
    text-align: center;
}

.butt {
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 10;
}

.butt:hover {
    background-color: chartreuse;
    width: 40px;
    height: 20px;
    scale: calc(2);
    transform: rotate(5);
}

#runaway-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: px 10px;
    font-size: 15px;
    cursor: default;
    transition: all 0.3s ease;
}
